:root {
  font-size: 62.5%;
  --main-background: #d2dbdc;
  --secondary-background: #ededed;
  --border-sidebar: #dddddd;
  --border-search: #eeeeee;
  --header-button: #919191;
  --search-input: #f6f6f6;
  --date-color: #999999;
  --hover-chatList: #f5f5f5;
  --chatList-active: #ebebeb;
  --chat-intro-bg: #f8f9fa;
  --chat-intro-border: #4adf83;
  --chat-intro-h1: #525252;
  --chat-intro-h2: #777777;
  --chat-window-border: #cccccc;
  --chat-window-body: #e5ddd5;
  --chat-window-input: #4a4a4a;
  --chat-window-emoji-open: #009688;
  --chat-window-mic-open: #126ECE;
  --message-iten-user: #DCF8C6;
  --white: #ffffff;
  --black: #000000;
}

* {
  font-size: 1.6rem;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  font-family: 'Segoe UI', Heuvetica Neue, Heuvetica, Lucida Grande, Arial;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input {
  border: 0;
  outline: 0;
  background-color: transparent;
}
